# -*- coding: utf-8 -*-
# @formatter:off
#
#                                             ,,
#                                             db
#     \
#     _\,,          `7MM  `7MM  `7MMpMMMb.  `7MM  ,p6"bo   ,pW"Wq.`7Mb,od8 `7MMpMMMb.
#    "-=\~     _      MM    MM    MM    MM    MM 6M'  OO  6W'   `Wb MM' "'   MM    MM
#       \\~___( ~     MM    MM    MM    MM    MM 8M       8M     M8 MM       MM    MM
#      _|/---\\_      MM    MM    MM    MM    MM 8M       8M     M8 MM       MM    MM
#     \        \      MM    MM    MM    MM    MM YM.    , YA.   ,A9 MM       MM    MM
#                     `Mbod"YML..JMML  JMML..JMML.YMbmd'   `Ybmd9'.JMML.   .JMML  JMML.
#
#                     written with <3 by {{ author }}, {{ author_email }}
#                     
#                     Project:         {{ url }}
#                     Report a bug:    {{ url }}/issues
#                     Contribute:      {{ url }}/wiki/Contribute
#                     
#                     Facebook:        https://me.me/micha.animator
#                     Instagram:       @michagrandel
#                     -----------------------------------------------------------------
#                     
#                     Copyright {{ year }} {{ copyright }}
#
#                     Licensed under the Apache License, Version 2.0 (the 'License');
#                     you may not use this file except in compliance with the License.
#                     You may obtain a copy of the License at
#                     
#                     http://www.apache.org/licenses/LICENSE-2.0
#                     
#                     Unless required by applicable law or agreed to in writing,
#                     software distributed under the License is distributed on an
#                     'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
#                     either express or implied. See the License for the specific
#                     language governing permissions and limitations under the License.
#                     -----------------------------------------------------------------
#                     @formatter:on

"""
:mod:`__init__` -- Describe your module in one sentence

.. module:: __init__
   :platform: Unix, Windows
   :synopsis: Describe your module in one sentence
.. moduleauthor:: {{ author }} <{{ author_email }}>
"""

from __future__ import unicode_literals, print_function
from io import open
import six

__status__ = '{{ status }}'
__author__ = '{{ author }}'
__version__ = '{{ version }}'
__copyright__ = 'written with <3 by {{ author }}'
__license__ = 'Apache License, Version 2.0'
__contact__ = '{{ project_url }}'
