# {{ project_name }}

[![PyPI](https://img.shields.io/pypi/pyversions/{{ project_name }}.svg)](http://pypi.python.org)
[![](https://img.shields.io/travis/michagrandel/{{ project_name }}/master.svg)](https://travis-ci.org/michagrandel/{{ project_name }})
[![](https://img.shields.io/codecov/c/github/michagrandel/{{ project_name }}/master.svg)]()
[![GitHub release](https://img.shields.io/github/release/michagrandel/{{ project_name }}.svg)]({{ project_url }}/releases)
[![PyPI](https://img.shields.io/pypi/v/{{ project_name }}.svg)](http://pypi.python.org)
[![license](https://img.shields.io/github/license/michagrandel/{{ project_name }}.svg)]({{ url }}/blob/master/LICENSE)
[![PRs Welcome](https://img.shields.io/badge/PRs-welcome-brightgreen.svg?style=flat-square)](http://makeapullrequest.com)

Very short description about your project.

> **Early Development**
>
> Please note that this project is in planning/early development phase!
> Many things might not work or not even exist the way you would expect.

## Getting Started

These instructions will get you a copy of the project up and running on your 
local machine for development and testing purposes. See deployment for notes on 
how to deploy the project on a live system.

### Prerequisites

Mention any requirements the user should check and install before using your software.

* Python 2.7 or 3.5
* tested on Windows 7 and 10
* should work on macOS and Linux

### Installing

```
pip install {{ project_name }}
```

If this doesn't work, try to download the code, 
extract the zip-file and run:

```
python setup.py install
```

## Running the tests

If you like to run the tests, just open a terminal in the project directory and run:

```
python -m unittest discover -s test -p "*_test.py"
```

## Built With

* [Flask](http://flask.pocoo.org/) - is a microframework for Python based on Werkzeug, Jinja 2 and good intentions
* [PySide](https://pypi.python.org/pypi/PySide/1.2.4) - pythonic Qt bridge

## Contributing

First of all: Thank you very kindly for your interest in contributing to our code!

Please take a moment and read [CONTRIBUTING.md](Contributing.md) to get you started!

## Versioning

We use [SemVer](http://semver.org/) for versioning. For the versions available,
see the [releases on this repository][github-releases].

## Authors

* **{{ author }}** - *Author and maintainer* - [Github][github]

We thank all of our [contributors][github-contributors], who participated in this project.

## License

This project is licensed under the Apache 2.0 License - see the [LICENSE](LICENSE) file for details


[github]: {{ project_url }}
[github-releases]: {{ url }}/releases
[github-contributors]: {{ url }}/graphs/contributors
[python]: https://www.python.org/downloads/
[pip]: https://pypi.python.org/pypi/pip
[flask]: http://flask.pocoo.org
[gitflow]: https://danielkummer.github.io/git-flow-cheatsheet/
[gitflow-model]: http://nvie.com/posts/a-successful-git-branching-model/
